.addButton{
  text-align: right;
  margin-right: 10%;
}

.item-list{
  display: flex;
  justify-content: center; /* 中央寄せ */
}
.item-list .item{
  box-sizing: border-box;
  padding: 40px 80px;
}

.balance{
  color: #747F7F;
  text-align: center;
}

.income{
  color: #5ab4bd;
  text-align: center;
}

.expence{
  color: #FF4858;
  text-align: center;
}

.input-content{
  padding: 15px;
  display: flex;
}

.input{
  padding: 8px;
}

.segment {
  display: flex;
  justify-content: center; /* 中央寄せ */
}
.segment input[type="radio"] {
  display: none;
}
.segment input[type="radio"]:checked + label {
  background-color: #5ab4bd;
  color: #fff;
}
.segment-button {
  width: 100%;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
}
.segment-button:last-child {
  border-right: none;
}